* {
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(to bottom, hsl(10, 60%, 10%), hsl(0, 60%, 0%));
  background-repeat: no-repeat;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.heading {
  padding: 1rem;
  background-color: rgb(34, 25, 18);
  border-bottom: 2px solid rgb(146, 54, 40);
}
.user-input {
  padding: 0.5rem;
  background-color: rgb(70, 57, 70);
}
.input-city {
  margin: 0.5rem;
}
.submit-button{
    padding:0.5rem;
}

.card-container {
    min-width: 4rem;
    min-height: 10rem;
  border: 2px solid black;
  width: max-content;
  margin: 4rem auto;
  background-color: rgb(17, 36, 10);
}

.card {
  border: 1px solid thistle;
  
  font-size: 1.5rem;
}

.city-name {
  padding: 0.5rem;
  border-bottom: 2px solid black;
  background-color: rgb(6, 61, 61);
}
.summary {
  border-bottom: 2px solid black;
  padding: 0.2rem;
  background-color: rgb(3, 32, 32);

}
.present {
  padding: 1rem;
  background-color: rgb(16, 56, 56);

}
.min-max {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 2px solid black;
  background-color: rgb(16, 56, 56);
}
.min,
.max {
  border: 2px solid black;
  padding: 0.2rem;
  background-color: rgb(31, 56, 16);
}
.humidity {
  padding: 0.5rem;
  border-bottom: 2px solid black;
  background-color: rgb(56, 25, 16);
}
.feels-like {
  padding: 1rem;
  background-color: rgb(56, 19, 16);
}
